<!--Main Navigation-->
    <!-- Sidebar -->
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white" style="margin-top: 38px">
        <div class="position-sticky">
            <div class="list-group list-group-flush mx-3 mt-4">
                <a href="/dashboard/" class="list-group-item list-group-item-action py-2 ripple active" aria-current="true">
                    <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Dashboard</span>
                </a>
                <a href="/booking/" class="list-group-item list-group-item-action py-2 ripple"><i
                        class="fas fa-calendar-day fa-fw me-3"></i><span>Booking</span></a>
                <a href="/place/list" class="list-group-item list-group-item-action py-2 ripple"><i
                        class="fas fa-map-marker fa-fw me-3"></i><span>Places</span></a>
                <a href="#" class="list-group-item list-group-item-action py-2 ripple"><i
                        class="fas fa-life-ring fa-fw me-3"></i><span>Support</span></a>
                {{#if (isAdmin user.admin)}}
                    <div class="nav-link disabled">
                        <p>ADMIN PANEL</p>
                    </div>
                    <a href="#" class="list-group-item list-group-item-action py-2 ripple"><i
                            class="fas fa-life-ring fa-fw me-3"></i><span>Admin</span></a>
                    <a href="/user/list" class="list-group-item list-group-item-action py-2 ripple"><i
                            class="fas fa-users fa-fw me-3"></i><span>Users</span></a>
                    <a href="/staff/list" class="list-group-item list-group-item-action py-2 ripple"><i
                            class="fas fa-users fa-fw me-3"></i><span>Staffs</span></a>
                {{/if}}
            </div>
        </div>
    </nav>
    <!-- Sidebar -->
<div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
        <!-- Navbar START -->
        <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
            <!-- Container wrapper -->
            <div class="container-fluid">
                <!-- Toggle button -->
                <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#sidebarMenu"
                        aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>

                <!-- Brand -->
                <a class="navbar-brand" href="/user/{{user.id}}">
                    {{user.name}} {{user.surname}}
                </a>
                <!-- Right links -->
                <ul class="navbar-nav ms-auto d-flex flex-row">
                    <!-- Notification dropdown -->

                    <!-- Avatar -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center" href="#"
                           id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/img (31).jpg" class="rounded-circle" height="22"
                                 alt="" loading="lazy" />
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="/user/profile/{{user.id}}">My profile</a></li>
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li><a class="dropdown-item" href="/user/user/logout">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- Navbar END -->
        <div class="container-fluid">
            <main style="margin-top: 60px">
                <div class="">
                    {{#if message.unauthorisedAccess}}
                        <div class="alert alert-danger" role="alert">
                            {{message.unauthorisedAccess}}
                        </div>
                    {{/if}}
                    {{#if message.emptyUserBookingList}}
                        <div class="alert alert-info" role="alert">
                            {{message.emptyUserBookingList}}
                        </div>
                    {{/if}}
                    <section class="mb-4">
                        <!-- Content Row -->
                        <div class="row">
                            <!-- Earnings (Monthly) Card Example -->
                            <div class="col-xl-3 col-md-6 mb-4">
                                <div class="card border-left-primary shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                    Total visit</div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{allBookingsCount}}</div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Earnings (Monthly) Card Example -->
                            <div class="col-xl-3 col-md-6 mb-4">
                                <div class="card border-left-success shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                    Active visit</div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{activesBookingsCount}}</div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Earnings (Monthly) Card Example -->
                            <div class="col-xl-3 col-md-6 mb-4">
                                <div class="card border-left-secondary shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">Ended visits
                                                </div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{endedBookingsCount}}</div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Pending Requests Card Example -->
                            <div class="col-xl-3 col-md-6 mb-4">
                                <div class="card border-left-warning shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                    Pending Visits</div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{pendingBookingsCount}}</div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Content Row -->
                    </section>

                    <section>
                        <div class="row">

                            <!-- Area Chart -->
                            <div class="col-xl-8 col-lg-7">
                                <div class="card shadow mb-4">
                                    <!-- Card Header - Dropdown -->
                                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                        <h6 class="m-0 font-weight-bold text-primary">Lorem ipsum</h6>
                                    </div>
                                    <!-- Card Body -->
                                    <div class="card-body">
                                        <div class="chart-area"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                                            <div class="row gx-5">
                                                <div class="col-md-6 mb-4">
                                                    <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                                                        <img src="https://mdbcdn.b-cdn.net/img/new/slides/080.webp" class="img-fluid" />
                                                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 mb-4">
                                                    <span class="badge bg-danger px-2 py-1 shadow-1-strong mb-3">News of the day</span>
                                                    <h4><strong>Facilis consequatur eligendi</strong></h4>
                                                    <p class="text-muted">
                                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis consequatur
                                                        eligendi quisquam doloremque vero ex debitis veritatis placeat unde animi laborum
                                                        sapiente illo possimus, commodi dignissimos obcaecati illum maiores corporis.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Pie Chart -->
                            <div class="col-xl-4 col-lg-5">
                                <div class="card shadow mb-4">
                                    <!-- Card Header - Dropdown -->
                                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                        <h6 class="m-0 font-weight-bold text-primary">Lorem ipsum</h6>
                                    </div>
                                    <!-- Card Body -->
                                    <div class="card-body">
                                        <div class="chart-pie pt-4 pb-2"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                                            <div class="" style="max-width: 32rem">
                                                <div>
                                                    <div class="text-dark">
                                                        <h5>This is title of the news</h5>
                                                        <p>
                                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, iste aliquid. Sed
                                                            id nihil magni, sint vero provident esse numquam perferendis ducimus dicta
                                                            adipisci iusto nam temporibus modi animi laboriosam?
                                                        </p>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">How to book a visit</h6>
                            </div>
                            <div class="card-body">
                                <p>To book an appointment, go to the <b>"places"</b> tab, and then select the hospital you are interested in.</p>
                                <p class="mb-0">You will be able to make an appointment in the hospital profile using the form.</p>
                            </div>
                        </div>
                    </section>

                </div>
            </main>
        </div>
    </div>
</div>

<!--<div id="content-wrapper" class="d-flex flex-column">-->
<!--    <div id="content">-->

<!--    </div>-->
<!--</div>-->