
    <!-- Sidebar -->
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white" style="margin-top: 38px">
        <div class="position-sticky">
            <div class="list-group list-group-flush mx-3 mt-4">
                <a href="/dashboard/" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
                    <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Dashboard</span>
                </a>
                <a href="/booking/" class="list-group-item list-group-item-action py-2 ripple"><i
                        class="fas fa-calendar-day fa-fw me-3"></i><span>Booking</span></a>
                <a href="/place/list" class="list-group-item list-group-item-action py-2 ripple"><i
                        class="fas fa-map-marker fa-fw me-3"></i><span>Places</span></a>
                <a href="#" class="list-group-item list-group-item-action py-2 ripple"><i
                        class="fas fa-life-ring fa-fw me-3"></i><span>Support</span></a>
                {{#if (isStaff user.role)}}
                    <div class="nav-link disabled">
                        <p>STAFF PANEL</p>
                    </div>
                    <a href="/booking/{{user.id}}/booking/list" class="list-group-item list-group-item-action py-2 ripple"><i
                            class="fas fa-users fa-fw me-3"></i><span>Bookings</span></a>
                {{/if}}
                {{#if (isAdmin user.role)}}
                    <div class="nav-link disabled">
                        <p>ADMIN PANEL</p>
                    </div>
                    <a href="#" class="list-group-item list-group-item-action py-2 ripple"><i
                            class="fas fa-life-ring fa-fw me-3"></i><span>Admin</span></a>
                    <a href="/user/list" class="list-group-item list-group-item-action py-2 ripple active"><i
                            class="fas fa-users fa-fw me-3"></i><span>Users</span></a>
                    <a href="/staff/list" class="list-group-item list-group-item-action py-2 ripple"><i
                            class="fas fa-users fa-fw me-3"></i><span>Staffs</span></a>
                {{/if}}
            </div>
        </div>
    </nav>
    <!-- Sidebar -->
    <div id="content-wrapper" class="d-flex flex-column">
       <div id="content">
           <!-- Navbar -->
           <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
               <!-- Container wrapper -->
               <div class="container-fluid">
                   <!-- Toggle button -->
                   <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#sidebarMenu"
                           aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                       <i class="fas fa-bars"></i>
                   </button>

                   <!-- Brand -->
                   <a class="navbar-brand" href="/user/{{user.id}}">
                       {{user.name}} {{user.surname}}
                   </a>
                   <!-- Right links -->
                   <ul class="navbar-nav ms-auto d-flex flex-row">
                       <!-- Notification dropdown -->

                       <!-- Avatar -->
                       <li class="nav-item dropdown">
                           <a class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center" href="#"
                              id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                               <img src="https://mdbootstrap.com/img/Photos/Avatars/img (31).jpg" class="rounded-circle" height="22"
                                    alt="" loading="lazy" />
                           </a>
                           <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                               <li><a class="dropdown-item" href="/user/profile/{{user.id}}">My profile</a></li>
                               <li><a class="dropdown-item" href="#">Settings</a></li>
                               <li><a class="dropdown-item" href="/user/user/logout">Logout</a></li>
                           </ul>
                       </li>
                   </ul>
               </div>
           </nav>
           <!-- Navbar -->
           <div class="container-fluid">
               <main style="margin-top: 60px">
                   <div>
                       {{#if message.successfullUserRemoved}}
                           <div class="alert alert-success" role="alert">
                               {{message.successfullUserRemoved}}
                           </div>
                       {{/if}}
                       {{#if message.unSuccessfullUserRemoved}}
                           <div class="alert alert-danger" role="alert">
                               {{message.unSuccessfullUserRemoved}}
                           </div>
                       {{/if}}
                       {{#if message.successfullUserActivated}}
                           <div class="alert alert-success" role="alert">
                               {{message.successfullUserActivated}}
                           </div>
                       {{/if}}
                       {{#if message.unSuccessfullUserActivated}}
                           <div class="alert alert-danger" role="alert">
                               {{message.unSuccessfullUserActivated}}
                           </div>
                       {{/if}}
                       {{#if message.unSuccessfulUserRemovedAsLogedUser}}
                           <div class="alert alert-danger" role="alert">
                               {{message.unSuccessfulUserRemovedAsLogedUser}}
                           </div>
                       {{/if}}
                       <div class="row">
                           <div class="col-lg-12">
                               <div class="main-box no-header clearfix">
                                   <div class="main-box-body clearfix">
                                       <div class="table-responsive">
                                           <table class="table align-middle mb-0 bg-white">
                                               <thead class="bg-light">
                                               <tr>
                                                   <th>User</th>
                                                   <th>Created</th>
                                                   <th>Active</th>
                                                   <th>Roles</th>
                                                   <th>Actions</th>
                                               </tr>
                                               </thead>
                                               <tbody>
                                               {{#each usersList}}
                                                   <tr>
                                                       <td>
                                                           <div class="d-flex align-items-center">
                                                               <img
                                                                       src="https://bootdey.com/img/Content/user_1.jpg"
                                                                       alt=""
                                                                       style="width: 45px; height: 45px"
                                                                       class="rounded-circle"
                                                               />
                                                               <div class="ms-3">
                                                                   <p class="fw-bold mb-1">{{this.name}} {{this.surname}}</p>
                                                                   <p class="text-muted mb-0">{{this.email}}</p>
                                                               </div>
                                                           </div>
                                                       </td>
                                                       <td>{{this.registered}}</td>
                                                       <td>
                                                           <span class="label label-default">{{this.active}}</span>
                                                       </td>
                                                       <td>
                                                           <p class="fw-normal mb-1">{{this.role}}</p>
                                                       </td>
                                                       <td style="width: 20%;">
                                                           <a style="text-decoration:none" href="/user/profile/{{this.id}}" >
                                                               <button type="button" data-toggle="tooltip" title="User's profile" class="btn btn-outline-primary"><i class="fas fa-user"></i></button>
                                                           </a>
                                                           <a style="text-decoration:none" href="/user/remove/{{this.id}}" >
                                                               <button type="button" data-toggle="tooltip" title="Remove user" class="btn btn-outline-danger"><i class="fas fa-user-times"></i></button>
                                                           </a>
                                                           <a style="text-decoration:none" href="/user/activate/{{this.id}}" >
                                                               <button type="button" data-toggle="tooltip" title="Activate user" class="btn btn-outline-success"><i class="fas fa-user-check"></i></button>
                                                           </a>
                                                       </td>
                                                   </tr>
                                               {{/each}}
                                               </tbody>
                                           </table>
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </main>
           </div>
       </div>
    </div>

<script type="text/javascript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
    function showmodal()
    {
        $("#modal{{this.id}}").modal("show");
    }
    function hidemodal()
    {
        $("#modal{{this.id}}").modal("hide");
    }
</script>    